.showcard {

    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    text-align: center;

}

h2 {
    font-size: 24px;
}

.detailcards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.pokeimg {
    max-width: 180px;
    height: auto;
}

.pokeimg:hover {
    transition: transform 0.5s ease;
    transform: scale(1.07);
    cursor: pointer;
}

#borderid {
    border: solid 1px black;
    width: 310px;
    border-radius: 16px;


}

.typeContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 2px;
    gap: 16px;
    color: white;
}

.typclasses{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.box-shadow-grass {
    box-shadow: inset 5px 5px 50px #5fbd58;
    border-radius: 16px;
}

.box-shadow-fire {
    box-shadow: inset 5px 5px 50px #fba54c;
    border-radius: 16px;
}

.box-shadow-water {
    box-shadow: inset 5px 5px 50px #539ddf;
    border-radius: 16px;
}

.box-shadow-bug {
    box-shadow: inset 5px 5px 50px #92bc2c;
    border-radius: 16px;
}

.box-shadow-normal {
    box-shadow: inset 5px 5px 50px #a0a29f;
    border-radius: 16px;
}

.box-shadow-poison {
    box-shadow: inset 5px 5px 50px #b763cf;
    border-radius: 16px;
}

.box-shadow-electric {
    box-shadow: inset 5px 5px 50px #f2d94e;
    border-radius: 16px;
}

.box-shadow-ground {
    box-shadow: inset 5px 5px 50px #da7c4d;
    border-radius: 16px;
}

.box-shadow-fairy {
    box-shadow: inset 5px 5px 50px #ee90e6;
    border-radius: 16px;
}

.box-shadow-fighting {
    box-shadow: inset 5px 5px 50px #d3425f;
    border-radius: 16px;
}

.box-shadow-poison {
    box-shadow: inset 5px 5px 50px #b763cf;
    border-radius: 16px;
}

.box-shadow-psychic {
    box-shadow: inset 5px 5px 50px #fa8581;
    border-radius: 16px;
}

.box-shadow-rock {
    box-shadow: inset 5px 5px 50px #c9bb8a;
    border-radius: 16px;
}

.box-shadow-ghost {
    box-shadow: inset 5px 5px 50px #CCCCFF;
    border-radius: 16px;
}

.box-shadow-ice {
    box-shadow: inset 5px 5px 50px #66FFFF;
    border-radius: 16px;
}

.box-shadow-dragon {
    box-shadow: inset 5px 5px 50px orangered;
    border-radius: 16px;
}



.bgColorgrass {
    background-color: #5fbd58;
    font-size: 16px;
    width: 56px;
    height: 24px;
    border-radius: 16px;
    
}

.bgColorpsychic {
    background-color: #fa8581;
    font-size: 16px;
    width: 72px;
    height: 24px;
    border-radius: 16px;
}

.bgColorfighting {
    background-color: #d3425f;
    font-size: 16px;
    width: 80px;
    height: 24px;
    border-radius: 16px;
}

.bgColorghost {
    background-color: #CCCCFF;
    font-size: 16px;
    width: 88px;
    height: 24px;
    border-radius: 16px;
}

.bgColorfire {
    background-color: #fba54c;
    font-size: 16px;
    width: 48px;
    height: 24px;
    border-radius: 16px;
}

.bgColorwater {
    background-color: #539ddf;
    font-size: 16px;
    width: 64px;
    height: 24px;
    border-radius: 16px;
}

.bgColorbug {
    background-color: #92bc2c;
    font-size: 16px;
    width: 48px;
    height: 24px;
    border-radius: 16px;
}

.bgColornormal {
    background-color: #a0a29f;
    font-size: 16px;
    width: 72px;
    height: 24px;
    border-radius: 16px;
}

.bgColorpoison {
    background-color: #b763cf;
    font-size: 16px;
    width: 64px;
    height: 24px;
    border-radius: 16px;
}

.bgColorlectric {
    background-color: #f2d94e;
    font-size: 16px;
    width: 72px;
    height: 24px;
    border-radius: 16px;
}

.bgColorground {
    background-color: #da7c4d;
    font-size: 16px;
    width: 72px;
    height: 24px;
    border-radius: 16px;
}

.bgColorfairy {
    background-color: #ee90e6;
    font-size: 16px;
    width: 56px;
    height: 24px;
    border-radius: 16px;
}

.bgColorrock {
    background-color: #c9bb8a;
    font-size: 16px;
    width: 72px;
    height: 24px;
    border-radius: 16px;
}

.bgColorice {
    background-color: #66FFFF;
    font-size: 16px;
    width: 56px;
    height: 24px;
    border-radius: 16px;
}

.bgColorflying {
    background-color: #a1bbec;
    font-size: 16px;
    width: 64px;
    height: 24px;
    border-radius: 16px;
}

.bgColordragon {
    background-color: orangered;
    font-size: 16px;
    width: 88px;
    height: 24px;
    border-radius: 16px;
}

.bgColorsteel {
    background-color: #5695a3;
    font-size: 16px;
    width: 88px;
    height: 24px;
    border-radius: 16px;
}