@media (max-width: 1080px) {
    .minipokemon{
        display: none;
    }

    #loading img {
        width: 250px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .headlogo{
        display: none;
    }
    #loading img {
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 280px;
        height: 480px;
    }
}