.Maincontainer {
    max-width: 1920px;
    margin: 0 auto;
    border: solid 1px black;

}

.searchfunction {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headlogo {
    height: 100px;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

h2 {
    margin: 0;
    font-weight: 300;

}

.reverse {
    transform: scaleX(-1);
}

.detailbtn {
    background-color: white;
    width: 80px;
    border: 1px solid black;
    border-radius: 8px;
}

.detailbtn:hover {
    cursor: pointer;
    background-color: lightgrey;
    text-decoration: color white;
}

.closex {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 16px;
    cursor: pointer;




}

.smalldetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}

.smallx {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.show{
    display: show;
}